<suite name="Mytestsuite">
	
	<parameter name="browser" value="Chrome"></parameter>
	
	<listeners>
		<listener class-name="listeners.Listeners"></listener>
		<listener class-name="listeners.Retrylistners"></listener>
	</listeners>
	<test threadcount="3" name="myTest">
		
	<classes>
		<class name="testcases.LoginTest"></class>
		<!--<class name="testcase.CategoryTest"></class>-->
		<!--<class name="testcase.SubCategoryTest"></class>-->
		<!--<class name="testcase.ManagefooterTest"></class>-->
		<!--<class name="testcase.ManagenewsTest"></class> -->
		<!--<class name="testcase.ManageUserPageTest"></class>-->
	</classes>

	</test>
</suite>